In [1]:
import numpy as np
import pandas as pd

# read the train/test/hold

In [2]:
df_holdout=pd.read_csv('./holdout_data.csv')
df_holdout['datatype']='hold'
print(df_holdout.shape)
df_train=pd.read_csv('./train_data.csv')
df_train['datatype']='train'
print(df_train.shape)
df_test=pd.read_csv('./test_data.csv')
df_test['datatype']='test'
print(df_test.shape)


df=pd.concat([df_holdout,df_test])
df=pd.concat([df,df_train])
del df_holdout,df_train,df_test
print(df.shape)

(101421, 17)
(488507, 17)
(86208, 17)
(676136, 17)

# loading frequency pred

In [3]:
fre=pd.read_csv('./GLM_predictions_freq.csv')
print(fre.shape)

(676136, 3)

# loading sev pred

In [4]:
sev=pd.read_csv('./GLM_predictions_sev.csv')
print(sev.shape)

(676136, 3)

In [5]:
sev.head()

       IDpol     pred_sev  pred_pay
0   147909.0  2469.391800       0.0
1  6105584.0  1739.798088       0.0
2  3076906.0  2409.353178       0.0
3  6101104.0  1714.999835       0.0
4  2229859.0  2233.132520       0.0

# Merging the data and pred

In [6]:
df=pd.merge(df,fre,on='IDpol',how='left')
print(df.shape)
del fre

(676136, 19)

In [7]:
df=pd.merge(df,sev,on='IDpol',how='left')
print(df.shape)
del sev

(676136, 21)

In [8]:
df.head()

,IDpol,ClaimNb,Exposure,Area,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,...,Region,Date,payout,Actual_premium,YM,datatype,pred_freq,pred_Nb,pred_sev,pred_pay
0,2142545.0,1,0.18,B,5,14,42,100,B2,Diesel,...,R72,2020-04-16,738.53,139,2020-04,hold,0.152034,0.027366,1767.964782,1767.964782
1,2003769.0,0,0.18,E,5,2,40,90,B12,Regular,...,R82,2019-04-10,0.00,159,2019-04,hold,0.255694,0.046025,1811.162546,0.000000
2,1107755.0,0,0.52,D,5,11,31,68,B5,Diesel,...,R91,2019-09-12,0.00,204,2019-09,hold,0.099732,0.051861,2141.548863,0.000000
3,6015787.0,0,0.21,D,5,5,74,50,B12,Regular,...,R41,2019-03-04,0.00,115,2019-03,hold,0.078691,0.016525,2084.375167,0.000000
4,3057801.0,0,1.00,A,5,1,26,72,B4,Regular,...,R54,2019-08-20,0.00,177,2019-08,hold,0.104216,0.104216,2494.799854,0.000000

In [9]:
df.columns

Index(['IDpol', 'ClaimNb', 'Exposure', 'Area', 'VehPower', 'VehAge', 'DrivAge',
       'BonusMalus', 'VehBrand', 'VehGas', 'Density', 'Region', 'Date',
       'payout', 'Actual_premium', 'YM', 'datatype', 'pred_freq', 'pred_Nb',
       'pred_sev', 'pred_pay'],
      dtype='object')

In [10]:
df['Actual_Freq']=df.ClaimNb/df.Exposure

In [11]:
df['Actaul_sev']=df.payout/df.ClaimNb

In [12]:
df['Actaul_Loss_cost']=df.Actual_Freq*df.Actaul_sev

In [13]:
df['Pure_premium']=df.pred_sev*df.pred_freq